html {
    display: flex;
    width: fit-content;
    min-width: 100%;
}

body {
    background: #1c1e26;
    padding: 1.25rem 3.125rem;
    margin: 0;
    flex-grow: 1;
    line-height: 15px;
    font-family: monospace;
}

h1 {
    color: #fff;
    text-align: center;
}

svg {
    display: block;
    margin: 2rem auto 0;
}

pre {
    padding: 0;
    margin: 0;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 13px;
    overflow: inherit;
}

textarea {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    background: 0;
    color: #fff;
    font-family: monospace;
    resize: none;
    font-size: 0.8125rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    margin: 0.75rem auto;
}

form > * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
}

#err {
    color: #ff5151;
    text-align: center;
}

input, button {
    display: block;
    border-radius: 0.5rem;
    font-size: 1rem;
}

input {
    margin-bottom: 0.75rem;
    border: 0;
    background: rgb(255 255 255 / 10%);
    color: #b4b5b6;
    padding: 0.6rem 1.25rem;
    outline: none;
}

input:focus, button:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 140, 255, 0.25);
    transition: border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

button {
    border: 0;
    border-radius: 8px;
    margin: 0.5rem 0;
    background: rgb(255 255 255 / 8%);
    cursor: pointer;
    height: 2.5rem;
    width: 100%;
    color: #bcbcbc;
    font-weight: 600;
    transition: background .2s ease;
}

button:hover {
    background: rgb(255 255 255 / 10%)
}

.shake {
    animation: shake .5s ease;
}

#lines {
    color: #7d7d7d;
    position: absolute;
    top: 1.25rem;
    left: 0;
    width: 1.875rem;
    font-size: 0.8125rem;
    font-family: monospace;
    text-align: right;
    user-select: none;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
}

#save, #logout {
    cursor: pointer;
    background: #373f47;
    transition: background .4s ease;
}

#logout {
    border-radius: 0 0 0 1rem;
}

#logout:hover {
    background: #e64b4b;
}

#save:hover {
    background: #45a6cc;
}

#save svg, #logout svg {
    width: 1.25rem;
    height: 1.25rem;
    padding: 1rem;
    margin: 0;
    fill: #fff;
}

@keyframes shake {
    25%, 75% {
        transform: translateX(-1rem);
    }
    50% {
        transform: translateX(1rem);
    }
    100% {
        transform: 0;
    }
}
